.navbar-brand{
    color: orangered !important;
}
.icon{
    font-size: 20px;
}
.sectionMain{
    background: url('../img/Hd-Laptop-wallpapers.jpg');     
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}
.sectionTwo{
    background: url('../img/Hd-Laptop-wallpapers.jpg');     
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size:cover;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 50vh;
}
.navCustom{
    background-color: rgba(0, 0, 0, 0.938) !important; 
}
.icon-bar{
    background-color: orangered;
}
.myName{   
    color: orange;
    font-size: 550%;           
}
.myProfession{
    color: white;
    font-size: 150%;
}
.mainText{
    position: absolute;
    top: 38%;
    letter-spacing: 8px;
    text-shadow: 0 0 10px #000;
    width: 100%;
}

.sectionAbout{
    background-color: #F2F2F2;
    font-family: Georgia;
}
.sectionProjects{
    background-color: rgba(235, 154, 4, 0.034);
}
.textAbout{
    color: rgb(63, 62, 62) !important;
}
.phrase{
    position: relative;
    top: 40%;
    width: 100%;
    color: #fff;
    font-size: 250%;
    letter-spacing: 5px;
    text-shadow: 0 0 10px #000;  
}
.titleProjects{
    position: relative;
    top: 40%;
    width: 100%;
    color: orange;
    font-family: Georgia;
    font-size: 280%;
}
.img-responsive {
    margin: 0 auto;
}
.footer{
    background-color: black;
    padding: 10px;
    color: orange;
}
.logoLinkedin{
    width: 30px;
    height: 30px;
}
@media (min-width: 1200px) { 
    .imgPerfil{
        width: 350px;
        height: 350px;
    } 
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .sectionMain , .sectionTwo{       
        background-attachment: fixed;      
    }
    .myName{ 
        font-size: 450%;           
    }
    .myProfession{
        font-size: 150%;
    }
    .mainText{
        position: absolute;
        top: 38%;
        width: 100%;
    }   
    .phrase{
        font-size: 200%;
    }  
    .imgPerfil{
        width: 300px;
        height: 300px;
    }  
    .navbar-brand{
        color: orangered !important;
    }
    .icon{
        font-size: 20px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .sectionMain , .sectionTwo{       
        background-attachment: fixed;      
    }
    .myName{ 
        font-size: 350%;           
    }
    .myProfession{
        font-size: 90%;
    }
    .mainText{
        position: absolute;
        top: 38%;
        width: 100%;
    }   
    .phrase{
        font-size: 180%;
    }  
    .imgPerfil{
        width: 300px;
        height: 300px;
    }  
    .fontH1, .titleProjects{
        font-size: 30px;
    }
    .fontH4{
        font-size: 17px;
    } 
    .navbar-brand{
        color: orangered !important;
    }
    .icon{
        font-size: 20px;
    }
     
}

@media (min-width: 576px) and (max-width: 767.98px) { 
    .sectionMain , .sectionTwo{       
        background-attachment: fixed;      
    }
    .myName{ 
        font-size: 350%;           
    }
    .myProfession{
        font-size: 90%;
    }
    .mainText{
        position: absolute;
        top: 38%;
        width: 100%;
    }  
    .phrase{
        font-size: 180%;
    }  
    .imgPerfil{
        width: 300px;
        height: 300px;
    }  
    .fontH1, .titleProjects{
        font-size: 30px;
    }
    .fontH4{
        font-size: 17px;
    }  
    .navbar-brand{
        color: orangered !important;
    }
    .icon{
        font-size: 20px;
    }
   
}
@media (max-width: 575.98px) {
    .sectionMain , .sectionTwo{       
        background-attachment: fixed;      
    }
    .myName{ 
        font-size: 270%;           
    }
    .myProfession{
        font-size: 90%;
    }
    .mainText{
        position: absolute;
        top: 38%;
        width: 100%;
    }
    .phrase{
        font-size: 150%;
    } 
    .image{
        width: 100px;
        height: 100px;
    }
    .imgPerfil{
        width: 250px;
        height: 250px;
    }
    .fontH1, .titleProjects{
        font-size: 25px;
    }
    .fontH4{
        font-size: 15px;
    }  
    .navbar-brand{
        color: orangered !important;
    }
    .icon{
        font-size: 20px;
    }  
}
@media (max-width: 300px) {
    .sectionMain , .sectionTwo{       
        background-attachment: fixed;      
    }
    .imgPerfil{
        width: 250px;
        height: 250px;
    }
    .fontH1, .titleProjects{
        font-size: 25px;
    }
    .fontH4{
        font-size: 15px;
    } 
    .navbar-brand{
        color: orangered !important;
    }
    .icon{
        font-size: 20px;
    }
}